<%- layout('layouts/general') %>

<h1>YelpCamp!</h1>
<p>What do you want to do?</p>

<div class="actions">
	<button><a href="/campgrounds">View all camps</a></button>
	<button><a href="/campgrounds/new">Create campground</a></button>
</div>
